@import "~bootstrap/scss/mixins/buttons";

.bg-custom {
  background-color: $bg-custom;
}

.btn-outline-custom {
  @include button-outline-variant($bg-custom);
}

.btn-custom {
  @include button-variant($bg-custom, $bg-custom);
}
